
<body>
  
<header>
  <div class="container">
    <div class="col12">
      <div class="slogan">
        <!-- <img src="images/apple-touch-icon-114x114.png" alt="logo"> -->
        <hgroup>
          <h1>Sheets Demo</h1>
          <h2>Making you faster, making you smarter!</h2>
        </hgroup>

        <!-- <div class="alldevices">
          <span class="icon-phone"></span>
          <span class="icon-tablet"></span>
          <span class="icon-monitor"></span>
        </div> -->
      </div>
      
      <section class="description">
        <p>Boulder <span>Research and Intelligence</span> Network</p>
        <p>Makin you faster, and smarter</p>
        <br>
        <p>Tools for the <span>Mobile Generation,</span> elegant <span>learning.</span> Minimalistic and clean tools with only <span>one purpose</span> enabling <span>you</span> without getting in your way.</p>

      </section>
      
      <!-- <div class="download">
        <a href="https://github.com/newaeonweb/responsiveboilerplate/archive/master.zip" class="btn">Download V. 2.1</a>
      </div> -->
    </div><!--/col12-->
  </div><!--/container-->
</header>  

<div class="features">
  <div class="container">
    <div class="col4">
      <h1>Bunch of <span class="less">Plebs</span>.</h1>
          <p>Using 4 Columns here - perhaps wide enough for key stroke tables? This would wrap on
            a smart phone so the 3 sections would basically be stacked</p>
    </div>
    <div class="col4">
      <h1><span class="sublime">Sublime text</span> Snippets.</h1>
          <p>Here we would have the 2nd column of content if using 3 coulmns. On a smartphone either scroll down to see this or possibly a swipe would snap the title "Sublime Text" to top of
          the screen</p>
    </div>
    <div class="col4">
       <h1>The <span class="aeonnav">Third Column</span> Optimized.</h1>
          <p>These nice colors and textures where borrowed from a framework. Be good to offer 
            several nice themes.</p>
    </div>
  </div>  
</div>

<div class="playground">
  <div class="container">
    <div class="col12">
      <h1>Try your self!</h1>
      <p>This renders well on the desktop, tablet, and phone. <a href="demo.html" target="_blank" title="click to see the demo">demo on new window</a></p>

      
    </div><!--/col12-->
   </div><!--/container--> 
</div>
<div class="clear"></div>
<div class="boxsocial">
  <div class="container">
    <div class="col12">
       <div class="social">
          <ul class="socialList">
            <li>
              <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.responsiveboilerplate.com" data-via="newaeonweb">Tweet</a>
            </li>
            <li>
              <a href=""  class="g-plusone"></a>   
            </li>
            <li>
              <a href="" class="fb-like" data-href="http://www.responsiveboilerplate.com" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></a>
            </li>  
          <ul>
      </div>
    </div><!--/col12-->
  </div><!--/container-->
</div>


<div id="contribute">
    <h1>Contribute with us</h1>
    <p>Please welcome. We do not claim to be the best, we are just trying to help an open web and free, so feel free to test, send bugs, suggestions and contribute with code to improve this tool.</P>
    <p>Contact us at: <a href="https://github.com/newaeonweb/responsiveboilerplate" class="icon-github" target="_blank"></a> We rely on the help of all, thank you!</p>
  </div>
  
  <div id="about">
      <h1>Hello and welcome</h1>
      <img src="images/me_.png" alt="me">
      <p>My name`s Fernando Monteiro, i`m a Ux Designer and Front-end developer living in Brazil.</p>
      <p>You can ready more about me on:</p>
        <ul class="about">
          <li>
            <a href="http://br.linkedin.com/pub/fernando-monteiro/28/81b/698" target="_blank" title="LinkedIn"><span class="icon-linkedin-2"></span></a>
          </li>
          <li>
            <a href="http://forrst.com/people/newaeonweb" target="_blank" title="Forrst"><span class="icon-forrst"></span></a>
          </li>
          <li>
            <a href="https://twitter.com/@newaeonweb" target="_blank" title="Twitter"><span class="icon-twitter-2"></span></a>
          </li>
          <li>
            <a href="https://plus.google.com/u/0/102311871192373469721/" target="_blank" title="Twitter"><span class="icon-googleplus"></span></a>
          </li>
          <li>
            <a href="http://www.newaeonweb.com.br/html5" title="Portfolio">Works</a>
          </li>
        </ul>
  </div>
<footer>
  <div class="container">
    <div class="col6">
      <!-- <ul class="footerLinks">
        <li><a href="https://github.com/newaeonweb/responsiveboilerplate/issues" target="_blank"><span class="icon-github"></span> Issue?</a></li>
        <li><a href="index.html#contribute" class="modalbox2" target="_blank"><span class="icon-comments"></span> Contribute</a></li>
        <li><a href="index.html#about" class="modalbox3" target="_blank"><span class="icon-user"></span> Author</a></li>
        <li><a href="https://twitter.com/@newaeonweb" target="_blank"><span class="icon-twitter"></span> @Follow</a></li>
       
      </ul> -->
    </div>
    <div class="col6">
      <ul class="footerLinks_right">
        <li>Copyright 2013. Boulder RAIN</li>
      </ul>
      
    </div>
  </div>
</footer>

