<div class="sheet-content">
    <h1 class="sheet-title">Sheet Title</h1>
    <br>
    <h2>index-00.html slide: <span class="currentSlide">n</span> from Ajax load</h1>
    <br>
    <h2>Debugging Output</h2>
    <ul class="tokDEBUGLOG"></ul>
</div>