body {
	width  : 600px;
	margin : 50px auto 0;
}

* { 
	margin  : 0;
	padding : 0; 
}
/* tokslider styles */

#js-tokslider {
	/*width: inherit;*/
	/*height: 300px;*/
	overflow: scroll;
}

#js-tokslider ul {
	width: 10000px;
	list-style: none;
}

#js-tokslider li {
	float: left;
}


/* Navigation Buttons */

#js-tokslider-nav {
	display: none; 
	margin-top: 1em;
}

#js-tokslider-nav button {
	padding: 1em;
	margin-right: 1em;
	border-radius: 10px;
	cursor: pointer;
}

.sheet {
	width            : 600px;
	height           : 300px;
	background-color : blue;
}

.tokBox {
	width            : 600px;
	height           : 300px;
	background-color : blue;
}
