<ul class="loader"></ul>
<div id="js-tokslider" style="overflow: hidden; height: 613px; width: 1227px;">
<ul style="margin-left: 0px;">
<li>
<div class="sheet sheet0" data-file="slides/index-00.html" style="height: 613px; width: 1227px;">
<header>
<div class="container">