
<body>
  
<header>
  <div class="container">
    <div class="col12">
      <div class="slogan">
        <!-- <img src="images/apple-touch-icon-114x114.png" alt="logo"> -->
        <hgroup>
          <h1>Sublime Overview</h1>
          <h2>Making you faster, Making you smarter!</h2>
        </hgroup>

        <!-- <div class="alldevices">
          <span class="icon-phone"></span>
          <span class="icon-tablet"></span>
          <span class="icon-monitor"></span>
        </div> -->
      </div>
      
      <section class="description">
        <p>Boulder <span>Research and Intelligence</span> Network. Tools for the <span>Mobile Generation,</span> elegant <span>learning.</span> Minimalistic and clean tools with only <span>one purpose</span> enabling <span>you</span> without getting in your way.</p>

      </section>  
      
      <div class="alldevices">
          <span class="icon-phone"></span>
          <span class="icon-tablet"></span>
          <span class="icon-monitor"></span>
        </div>

        <section class="description">

        <p>This renders well on the <span>desktop, tablet, and phone</span>.</p>

        </section>

      
      
      <!-- <div class="download">
        <a href="https://github.com/newaeonweb/responsiveboilerplate/archive/master.zip" class="btn">Download V. 2.1</a>
      </div> -->
    </div><!--/col12-->
  </div><!--/container-->
</header>  

<div class="features">
  <div class="container">
    <div class="col4">
      <h1>Bunch of <span class="less">Plebs</span>.</h1>
          <p>Using 4 Columns here - perhaps wide enough for key stroke tables? This would wrap on
            a smart phone so the 3 sections would basically be stacked</p>
    </div>
    <div class="col4">
      <h1><span class="sublime">Sublime text</span> Snippets.</h1>
          <p>Here we would have the 2nd column of content if using 3 coulmns. On a smartphone either scroll down to see this or possibly a swipe would snap the title "Sublime Text" to top of
          the screen</p>
    </div>
    <div class="col4">
       <h1>The <span class="aeonnav">Third Column</span> Optimized.</h1>
          <p>These nice colors and textures where borrowed from a framework. Be good to offer 
            several nice themes.</p>
    </div>
  </div>  
</div>

<footer>
  <div class="container">
    <div class="col6">
      <ul class="footerLinks">
        <li><a href="https://github.com/newaeonweb/responsiveboilerplate/issues" target="_blank"><span class="icon-github"></span> Stuff</a></li>
        <li><a href="index.html#contribute" class="modalbox2" target="_blank"><span class="icon-comments"></span> More Stuff</a></li>
        <li><a href="index.html#about" class="modalbox3" target="_blank"><span class="icon-user"></span> Boulder RAIN</a></li>
        <li><a href="https://twitter.com/@newaeonweb" target="_blank"><span class="icon-twitter"></span> @Follow</a></li>
       
      </ul>
    </div>
    <div class="col6">
      <ul class="footerLinks_right">
        <li>Boulder <span>Research and Intelligence</span> Network Copyright 2013. </li>
      </ul>
      
    </div>
  </div>
</footer>

