<header>
  <div class="container">
    <div class="col12">
      <div class="slogan">
        <img src="images/apple-touch-icon-114x114.png" alt="logo">
        <hgroup>
          <h1>Responsive Boilerplate</h1>
          <h2>A starting point to responsive web design!</h2>
        </hgroup>

        <div class="alldevices">
          <span class="icon-phone"></span>
          <span class="icon-tablet"></span>
          <span class="icon-monitor"></span>
        </div>
      </div>
      
      <section class="description">
        <p>A lightweight <span>(2kb)</span> micro-framework, elegant <span class="ampersand">&amp;</span> minimalistic CSS3 grid system, made with only <span>one container</span> and <span>12 columns</span>. It`s very easy to use and understand, pre-packed with some extra css helpers for mobile devices.</p>
      </section>
      
      <div class="download">
        <a href="https://github.com/newaeonweb/responsiveboilerplate/archive/master.zip" class="btn">Download V. 2.1</a>
      </div>
    </div><!--/col12-->
  </div><!--/container-->
</header>  

<div class="features">
  <div class="container">
    <div class="col4">
      <h1>Cross <span class="less">Browser</span>.</h1>
          <p>Adapt to any screen size, including fluid media; images and video and pre-configured with 4 breakpoints, just to make your job easier.</p>
    </div>
    <div class="col4">
      <h1><span class="sublime">Sublime text</span> Snippets.</h1>
          <p>Include in the package: PSD Template, HTML5 starting point file for fast development and two Sublime Text snippets for CSS grid and HTML file.</p>
    </div>
    <div class="col4">
       <h1>Mobile <span class="aeonnav">AeonNav</span> Optimized.</h1>
          <p>Some lines of Javascript turns your nav in a beautfull mobile optmized menu.</p> <p> Using HEAD.js to load others libs.</p>
    </div>
  </div>  
</div>

<div class="playground">
  <div class="container">
    <div class="col12">
      <h1>Try your self!</h1>
      <p>Check it out the site <a href="demo.html" target="_blank" title="click to see the demo">demo on new window</a></p>
      
    </div><!--/col12-->
   </div><!--/container--> 
</div>
<div class="clear"></div>
<div class="boxsocial">
  <div class="container">
    <div class="col12">
       <div class="social">
          <ul class="socialList">
            <li>
              <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.responsiveboilerplate.com" data-via="newaeonweb">Tweet</a>
            </li>
            <li>
              <a href=""  class="g-plusone"></a>   
            </li>
            <li>
              <a href="" class="fb-like" data-href="http://www.responsiveboilerplate.com" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></a>
            </li>  
          <ul>
      </div>
    </div><!--/col12-->
  </div><!--/container-->
</div>


>
  
 

  
  


