@font-face {
	font-family:'BebasNeueRegular';
	src:url('../typograph/bebasneue-webfont.eot');
	src:url('../typograph/bebasneue-webfont86d7-iefix.eot') format('eot'), url('../typograph/bebasneue-webfont.woff') format('woff'), url('../typograph/bebasneue-webfont.ttf') format('truetype'), url('../typograph/bebasneue-webfont.svg.html#webfontMK9SVy33') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'DroidSansRegular';
	src:url('../typograph/droidsans-webfontd41d-.eot') format('eot'), url('../typograph/droidsans-webfont.woff') format('woff'), url('../typograph/droidsans-webfont.ttf') format('truetype'), url('../typograph/droidsans-webfont.svg.html#webfontNN8oFgLS') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'PodkovaRegular';
	src:url('../typograph/Podkova-Regular-webfont.eot');
	src:url('../typograph/Podkova-Regular-webfontd41d-.eot#iefix') format('embedded-opentype'), url('../typograph/Podkova-Regular-webfont.woff') format('woff'), url('../typograph/Podkova-Regular-webfont.ttf') format('truetype'), url('../typograph/Podkova-Regular-webfont.svg.html#PodkovaRegular') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'responsiveBoilerplate';
	src:url('../fonts/responsiveBoilerplate.eot');
	src:url('../fonts/responsiveBoilerplate-.eot#iefix') format('embedded-opentype'), url('../fonts/responsiveBoilerplate.svg.html#responsiveBoilerplate') format('svg'), url('../fonts/responsiveBoilerplate.woff') format('woff'), url('../fonts/responsiveBoilerplate.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}

[data-icon]:before {
	font-family:'responsiveBoilerplate';
	content:attr(data-icon);
	speak:none;
	font-weight:normal;
	line-height:1;
	-webkit-font-smoothing:antialiased;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family:'responsiveBoilerplate';
	font-style:normal;
	speak:none;
	font-weight:normal;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	text-shadow:1px 1px 1px rgba(127, 127, 127, 0.5);
}

.icon-screen:before {
	content:"e000";
}

.icon-github:before {
	content:"e009";
}

.icon-tablet:before {
	content:"e001";
}

.icon-phone:before {
	content:"e003";
}

.icon-monitor:before {
	content:"e004";
}

.icon-list:before {
	content:"e005";
}

.icon-github-2:before {
	content:"e006";
}

.icon-twitter:before {
	content:"e007";
}

.icon-linkedin:before {
	content:"e008";
}

.icon-github-3:before {
	content:"e00b";
}

.icon-twitter-2:before {
	content:"e00c";
}

.icon-linkedin-2:before {
	content:"e00d";
}

.icon-googleplus:before {
	content:"e00e";
}

.icon-googleplus-2:before {
	content:"e00f";
}

.icon-comments:before {
	content:"e002";
}

.icon-user:before {
	content:"e00a";
}

body {
	background-color:#f0f0f0;
}

a {
	-webkit-transition-property:background color;
	-webkit-transition-duration:.12s;
	-webkit-transition-timing-function:ease-out;
	-moz-transition-property:background color;
	-moz-transition-duration:.12s;
	-moz-transition-timing-function:ease-out;
	-o-transition-property:background color;
	-o-transition-duration:.12s;
	-o-transition-timing-function:ease-out;
}

a {
	text-decoration:none;
	color:#ccc;
}

a:visited {
	opacity:.8;
}

a:hover {
	text-decoration:none;
	color:#F90;
}

a:active, a:focus {
	outline:0;
}

span.ampersand {
	font-family:Adobe Caslon Pro, Baskerville, "Goudy Old Style", "Palatino", "Palatino Linotype", "Book Antiqua", Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	font-size:110%;
	line-height:0;
	position:relative;
	vertical-align:baseline;
}

.tooltip {
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#161616;
	border-radius:5px;
	padding:10px;
	color:#fff;
	font-family:'DroidSansRegular', sans-serif;
	font-size:.875em;
}

#simplemodal-overlay {
	background-color:#000;
	cursor:wait;
}

#simplemodal-container {
	min-height:260px;
	width:80%;
	color:#bbb;
	background-color:#fff;
	border:4px solid #444;
	padding:12px;
}

#simplemodal-container .simplemodal-data {
	padding:8px;
}

#simplemodal-container code {
	background:#141414;
	border-left:3px solid #65b43d;
	color:#bbb;
	display:block;
	font-size:12px;
	margin-bottom:12px;
	padding:4px 6px 6px;
}

#simplemodal-container a {
	color:#F90;
	font-size:36px;
}

#simplemodal-container a:hover {
	color:#333;
}

#simplemodal-container a.modalCloseImg {
	background:url("../images/x.png") no-repeat;
	width:25px;
	height:29px;
	display:inline;
	z-index:3200;
	position:absolute;
	top:-15px;
	right:-16px;
	cursor:pointer;
}

header {
	background:url("../images/body-bg-15.png");
	border-bottom:2px solid #000;
	box-shadow:0 2px 1px #fff;
	padding-bottom:2%;
	border-bottom:2px solid #000;
	box-shadow:0 2px 1px #fff;
	display:inline-block;
}

.alldevices {
	text-align:center;
	margin:2.5% auto;
}

.alldevices span {
	font-size:100px;
	line-height:65px;
	margin-right:2%;
	color:#fff;
	text-shadow:1px 2px 1px black;
}

.slogan {
	padding:2% 0;
	text-align:center;
}

hgroup {
	margin-top:2%;
}

.slogan h1 {
	font-family:'BebasNeueRegular', sans-serif;
	font-weight:400;
	font-size:4em;
	color:#F90;
	text-shadow:1px 3px 1px black;
}

.slogan h2 {
	margin-top:2%;
	margin-bottom:2%;
	font-size:2.3em;
	font-family:'PodkovaRegular', sans-serif;
	color:#4feaf0;
	-ms-text-shadow:1px 3px 1px black;
	text-shadow:1px 3px 1px black;
}

.description p {
	font-family:'DroidSansRegular', sans-serif;
	font-size:1.2em;
	line-height:1.4;
	color:#fff;
	text-align:justify;
	padding:0 1%;
	-ms-text-shadow:1px 1px 1px black;
	text-shadow:1px 3px 1px black;
}

.description p span {
	color:#f90;
	font-weight:bold;
}

.download {
	width:205px;
	margin:2.5% auto;
}

.btn {
	-moz-box-shadow:inset 0 1px 0 0 #c1ed9c;
	-webkit-box-shadow:inset 0 1px 0 0 #c1ed9c;
	box-shadow:inset 0 1px 0 0 #c1ed9c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b));
	background:-moz-linear-gradient(center top, #9dce2c 5%, #8cb82b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
	background-color:#9dce2c;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-ms-border-radius:6px;
	border-radius:6px;
	border:1px solid #83c41a;
	display:inline-block;
	color:#fff;
	font-family:arial;
	font-size:16px;
	font-weight:bold;
	padding:16px 34px;
	text-decoration:none;
	text-shadow:1px 1px 0 #689324;
}

.btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c));
	background:-moz-linear-gradient(center top, #8cb82b 5%, #9dce2c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
	background-color:#8cb82b;
	color:#fff;
}

.btn:active {
	position:relative;
	top:1px;
}

.features {
	background:url("../images/body-bg-1.png");
	border-bottom:1px solid #e0e0e0;
	padding:3% 0;
	display:inline-block;
}

.features h1 {
	margin-top:10px;
	font-size:1.5em;
	font-family:'BebasNeueRegular', sans-serif;
	font-weight:400;
	color:#000;
	text-shadow:1px 2px 1px white;
}

.features .col4:nth-child(2) {
	text-align:center;
}

.features .col4:nth-child(3) {
	text-align:right;
}

.features p {
	padding:2% 0;
	font-family:'DroidSansRegular', sans-serif;
	font-size:16px;
	line-height:1.4;
}

.features h1 span.less {
	color:#4183c4;
}

.features h1 span.sublime {
	color:#dfa11e;
}

.features h1 span.aeonnav {
	color:#F90;
}

.playground {
	padding:3% 0;
	display:block;
}

.playground h1 {
	font-size:1.5em;
	font-family:'BebasNeueRegular', sans-serif;
	font-weight:400;
	color:#000;
	text-shadow:1px 2px 1px white;
	text-align:center;
	padding-bottom:2%;
}

.playground p {
	font-family:'DroidSansRegular', sans-serif;
	font-size:16px;
	line-height:1.4;
	text-align:center;
}

.playground a {
	color:#000;
	font-size:1.3em;
}

.playground a:hover {
	color:#f90;
	font-size:1.3em;
}

.device-selector {
	text-align:center;
	padding-top:2%;
	padding-bottom:5%;
}

.device-selector a {
	background-color:#ddd;
	width:60px;
	height:60px;
	margin:0 5px 0;
	display:inline-block;
	border:solid 5px transparent;
	border-radius:50px;
	text-decoration:none;
}

.device-selector a.tablet-landscape {
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	transform:rotate(90deg);
}

.device-selector a.mobile-landscape {
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	transform:rotate(90deg);
}

.device-selector a:hover {
	background-color:#89aac0;
	z-index:1000px;
}

.device-selector a.chosen {
	background-color:#89aac0;
	z-index:1000px;
}

.demo-selector a {
	text-decoration:none;
	color:#00f;
}

.demo-selector a.chosen {
	text-decoration:underline;
	font-weight:bold;
	color:#f00;
}

.demo-selector .demo-desc {
	font-size:18px;
	font-family:arial;
}

#demos {
	float:left;
	width:100%;
	min-height:200px;
	display:inline-block;
	position:absolute;
}

#demo-frame {
	border:thin solid #ccc;
	width:960px;
	height:200px;
	border-radius:5px;
	position:absolute;
	left:-480px;
	margin-left:50%;
	overflow:hidden;
}

.device-selector span {
	font-size:40px;
	line-height:70px;
	color:#fff;
}

.boxsocial {
	margin:2% auto;
}

.social {
	margin:5% auto;
	display:block;
	text-align:center;
	clear:both;
}

ul.socialList {
	text-align:center;
	width:300px;
	margin:0 auto;
}

.socialList li {
	display:inline;
	float:left;
}

.fb-like .fb_edge_widget_with_comment .fb_iframe_widget span {
	height:25px;
}

.adjust {
	height:25px;
}

footer {
	float:left;
	width:100%;
	display:block;
	padding:10px 0;
	background-color:#000;
	margin-top:25px;
}

footer ul.footerLinks {
	padding-top:5px;
}

footer ul.footerLinks_right {
	padding-top:5px;
	text-align:right;
	color:#ccc;
}

footer ul.footerLinks li {
	display:inline;
	margin-right:5px;
	font-family:'DroidSansRegular', sans-serif;
	font-size:16px;
	line-height:1.4;
}

footer ul.footerLinks_right li {
	display:inline;
	font-family:'DroidSansRegular', sans-serif;
	font-size:16px;
	line-height:1.4;
}

footer ul.footerLinks_right li a {
	color:#f90;
}

footer ul.footerLinks_right li a:hover {
	color:#ccc;
}

#contribute, #about {
	display:none;
	text-align:center;
}

#about ul.about li {
	display:inline;
}

#contribute h1, #about h1 {
	font-size:1.5em;
	font-family:'BebasNeueRegular', sans-serif;
	font-weight:400;
	color:black;
	text-shadow:1px 2px 1px white;
}

#contribute p, #about p {
	padding:1% 0;
	font-family:'DroidSansRegular', sans-serif;
	font-size:16px;
	line-height:1.4;
	color:#333;
}

@media screen and (max-width:768px) {
	.alldevices span {
	font-size:90px;
}

.download {
	margin:10% auto;
}

.features h1 {
	margin-top:20px;
}

#demo-frame {
	border:thin solid #ccc;
	width:320px;
	height:200px;
	border-radius:5px;
	position:absolute;
	left:-160px;
	margin-left:50%;
	overflow:hidden;
}

footer ul.footerLinks {
	text-align:center;
}

footer ul.footerLinks_right {
	text-align:center;
}

footer ul.footerLinks li {
	display:inline;
	margin-right:12px;
	font-family:'DroidSansRegular', sans-serif;
	font-size:16px;
	line-height:2.4;
}

}
