a { text-decoration: none; }

#themelistings { list-style: none; margin: 15px 0 25px; }
#themelistings a { display: block;}
#themelistings a:hover { text-decoration: none; }
h2.index-title { text-align: center; font-size: 1.75em; margin-top: 100px; letter-spacing: -1px; }
#themelistings li:hover h2 { background: #BE3F1C; color: #fff; }
#themelistings li { float: left; width: 48%; margin-right: 4%; position: relative; }
#themelistings li:nth-of-type(2n) { margin-right: 0; }
#themelistings img { border-radius: 3px; vertical-align: bottom; margin: 0; max-width: 100%; height: auto;
	-webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

.post-type-archive-wordpress-themes #featured { border-top: none; font-size: 1.5em; }
.post-type-archive-wordpress-themes #featured { padding-bottom: 25px; }

#themelistings h2 { color: #3F454F; border: 0; font-family: 'Proxima Nova Semibold', Arial, Helvetica; font-size: 1em; letter-spacing: -1px; position: absolute; bottom: 0; left: 0; background: #fff; width: 100%; padding: 10px; margin-bottom: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 0 -4px 4px -3px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 -4px 4px -3px rgba(0, 0, 0, 0.4);
	box-shadow: 0 -4px 4px -3px rgba(0, 0, 0, 0.4);
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
#themelistings h2 span { float: right; opacity: 0.65; }


/*
iPhone and mobile widths --------------------------------------------------------------------------------------------------------------------------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
	#themelistings li { width: auto; float: none; margin-right: 0; margin-bottom: 10px; }
}