/*
 * Styling for the menu of packs
 *
 */

#menuHeader {
	z-index: 50;
}

#menuHeader img {
	position: absolute;
	top: 0px;
	height: 5rem;
	width: 5rem;
}

#menuHeader #menubutton-left {
	left: 5px;
}

#menuHeader #menubutton-right {
	right: 5px;
}

 #packMenu {
	width: 100%;
	height: 90%;
	position:absolute;
	left:0;
    right:0;
    /*margin: 5% auto auto auto;*/

	z-index: 50;

	background-color: blue;
    overflow: hidden;
    /*border-radius: .5em;*/
    display: none;
}

#stacksContainer {
	width: 102%;	
	height: 100%;		/* RESIZEABLE */

	overflow: auto;
	/*border-radius: .5em;*/
	background-color: #8F8F8F;

	background: #606c88; /* Old browsers */
	background: -moz-linear-gradient(left, #606c88 0%, #3f4c6b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#606c88), color-stop(100%,#3f4c6b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #606c88 0%,#3f4c6b 100%); /* Chrome10+,Safari5.1+ */
	background: -ms-linear-gradient(left, #606c88 0%,#3f4c6b 100%); /* IE10+ */
	background: linear-gradient(to right, #606c88 0%,#3f4c6b 100%); /* W3C */
}