#debugPanel {
	width: 80%;
	height: 300px;

	position: absolute;
	bottom: 5rem;
	left: 6%;
	padding: 2rem;
	
	display: none;
	overflow : scroll;

	float: 50;
	background-color: red;
	
	border-radius: .8rem;
	border: 2px solid gray;
}

.tokDEBUGLOG li {
	color: blue;
}

/*.hide {
	display: none;
}*/

#menuButton {
	z-index: 50;
	position:absolute;
}

.loader ul {
	text-align: left;
}
